*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header{
    margin-top: 50px;
    margin-left: 42px;
}

.link-header{
    margin-left: 32px;
    color: #17233d;
    width: 83px;
    height: 21px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    text-align: center; 
}

.button-header{
    margin-left: 28px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #6fbf48;
    cursor: pointer;
    width: 124px;
    border-radius: 5px;
    height: 51px;
    border: none;    
}

.img{
    margin: 133px 0 0 123px;
    width: 400px;
    height: 400px;
    display: inline-block;
 }

 .div{
    display: inline-block;
    margin-left: 84px;
    
 }

h1{
    font-weight: 700;
    font-size: 38px;
    line-height:72px;
    letter-spacing: 0,56985px;
    color: #161aa9;
    width: 400px;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0,5px;
    color: #4b4b4b;
    width: 493px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button-learn{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6fbf44;
    cursor: pointer;
    background: none;
    border: none;
}
